<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,111},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>collision_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,111},{65,65}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,41},{65,65}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>collision_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{109,107}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{109,107}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>collision_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{133,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{133,115}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>collision_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,121}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a04b1511a3e04c40252042ce1b55f2bc:1/1$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
